Heroes of Pymoli
Unit_4_Pandas
Melissa_Morgan

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [5]:
# Calculate Total Number of Players using number of distinct values in column
total_players = purchase_data["SN"].nunique()

# Create dataframe with total players named 
pd.DataFrame({"Total Players":[total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Calculate Number of Unique Items
unique_items = purchase_data["Item ID"].nunique()

# Calculate Average Purchase Price
avg_purchase_price = purchase_data["Price"].mean()

# Calculate Total Number of Purchases
total_num_purchases = purchase_data["Item ID"].count()

# Calculate Total Revenue
total_revenue = purchase_data["Price"].sum()

In [7]:
# Create a Summary DataFrame to hold the results
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Purchase Price":[avg_purchase_price], 
                           "Number of Purchases": [total_num_purchases], 
                           "Total Revenue": [total_revenue]})

In [8]:
# Optional: give the displayed data cleaner formatting
# Display the Summary DataFrame
summary_df.style.format({"Average Purchase Price": "${:.2f}", "Total Revenue": "${:,.2f}"}).hide_index()




## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Calculate the Number and Percentage of Players by Gender
# Create a Summary DataFrame to hold the results
# Display the Summary DataFrame
purchase_genders = pd.DataFrame(purchase_data.drop_duplicates(["SN"]))
purchase_genders_grp = purchase_genders.groupby(['Gender'])
gender_df = pd.DataFrame({"Total Count":purchase_genders_grp["Gender"].count(),"Percentage of players":purchase_genders_grp["Gender"].count()/total_players*100})
gender_df = gender_df.sort_values("Total Count", ascending=False)
gender_df["Percentage of players"] = gender_df["Percentage of players"].map("{:.2f}%".format)
gender_df.head()

                       Total Count Percentage of players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Group Purchase Data by Gender
gender_group = purchase_data.groupby(['Gender'])

In [11]:
# Create a Summary DataFrame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the Summary DataFrame
gen_purch_df = pd.DataFrame({"Purchase Count":gender_group["Price"].count(), "Average Purchase Price":gender_group["Price"].mean(),"Total Purchase Value":gender_group["Price"].sum(), "Avg Total Purchase per Person":gender_group["Price"].sum()/gender_df["Total Count"]})
gen_purch_df["Average Purchase Price"] = gen_purch_df["Average Purchase Price"].map("${:.2f}".format)
gen_purch_df["Total Purchase Value"] = gen_purch_df["Total Purchase Value"].map("${:,.2f}".format)
gen_purch_df["Avg Total Purchase per Person"] = gen_purch_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
gen_purch_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# Calculate the Number of Unique Players
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()

In [13]:
# Establish Bins for Ages
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 150]

# Create the Names for the Bins
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
player_demographics["Age_Group"] = pd.cut(player_demographics["Age"], bins, labels=groups)

# Calculate the Numbers and Percentages by Age Group
age_demographics_totals = player_demographics["Age_Group"].value_counts()
age_demographics_percents = age_demographics_totals / total_players * 100
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

# Optional: round the percentage column to two decimal points
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)

# Display Age Demographics Table
age_demographics.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Establish Bins for Ages
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 150]

# Create the Names for the Bins
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Bin the purchase_data DataFrame by Age
purchase_data["Age_Group"] = pd.cut(purchase_data["Age"], bins, labels=groups)

# Run Basic Calculations for data requested in table
age_purchase_total = purchase_data.groupby(["Age_Group"]).sum()["Price"].rename("Total Purchase Value")
age_average = purchase_data.groupby(["Age_Group"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_data.groupby(["Age_Group"]).count()["Price"].rename("Purchase Count")
avg_total_purchase_per_person = age_purchase_total / age_demographics["Total Count"]

# Create a Summary DataFrame to hold the results
age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, "Total Purchase Value": age_purchase_total, "Avg Total Purchase per Person": avg_total_purchase_per_person})

# Optional: give the displayed data cleaner formatting
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data ["Purchase Count"] = age_data["Purchase Count"].map("{:,}".format)
age_data["Avg Total Purchase per Person"] = age_data["Avg Total Purchase per Person"].map("${:,.2f}".format)
age_data = age_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

# Display the Summary DataFrame
age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
# Run Basic Calculations for data requested in table
# Group Purchase Data by Screen Name
sn_group = purchase_data.groupby(['SN'])

#Calculate toal purchase by player 
sn_total_purchase = sn_group["Price"].sum()

# Calculate number of purchases per Player
sn_count = sn_group["Price"].count()

#Calculate Avg Purchase Price
sn_avg_purchase = sn_group["Price"].mean()

In [16]:
# Create a Summary DataFrame to hold the results
sum_top_spenders = pd.DataFrame()
sum_top_spenders["Purchase Count"] = sn_count
sum_top_spenders["Average Purchase Price"] = sn_avg_purchase
sum_top_spenders["Total Purchase Value"] = sn_total_purchase

# Sort the total purchase value column in descending order
sum_top_spenders = sum_top_spenders.sort_values("Total Purchase Value", ascending=False)

# Optional: give the displayed data cleaner formatting
sum_top_spenders["Average Purchase Price"] = sum_top_spenders["Average Purchase Price"].astype(float).map("${:,.2f}".format)
sum_top_spenders["Total Purchase Value"] = sum_top_spenders["Total Purchase Value"].astype(float).map("${:,.2f}".format)

# Display a preview of the Summary DataFrame
sum_top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
# Create DataFrame - Retrieve the Item ID, Item Name, and Item Price columns
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group Items
item_stats = items.groupby(["Item ID","Item Name"])

# Perform Calculations to Obtain Purchase Count, Item Price, and Total Purchase Value
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item

# Create Summary Dateframe to Hold Results 
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort Purchase Count Column in Descending Order
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [18]:
# Sort Most Popular Items DataFrame by Total Purchase Value in Descending Order
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format Output & Display Preview of the DataFrame
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})